<div class="container">
  <h1>New Message</h1>
  <form action="/new-message" method="POST">
    <div class="form-group">
      <label for="first-name">What would you like to post?</label>
      <textarea rows="8"></textarea>
    </div>
    <div>
      <a href="/" class="button">Back</a>
      <button type="submit">Post</button>
    </div>
  </form>
</div>
